<div class="run-card">
  <div class="run-card-header">
    <span><img src="https://avatars.githubusercontent.com/u/26135050" class="run-card-header-avatar" alt="profile_picture"></span>
    <span class="run-card-header-info">
      <div>{{run.creator}}</div>
      <div class="run-card-header-info-time">{{run.startTime | date : 'dd.MM.yy \'um\' hh:mm '}}</div>
    </span>

  </div>
  <app-course-progress [run]="run"></app-course-progress>


  <div class="run-card-content">
    <div class="run-card-content-title">
      {{run.title}}
    </div>
    <div class="run-card-content-details">
      <table>
        <thead>
          <tr>
            <th>Distance</th>
            <th>Time</th>
            <th>Round</th>
            <th>Impact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ run.round }} km</td>
            <td>{{ run.time }} minutes</td>
            <td>
              <ng-template [ngIf]="run.clockwise">
                <svg-icon src="assets/icons/arrow-clockwise.svg"></svg-icon>
              </ng-template>
              <ng-template [ngIf]="!run.clockwise">
                <svg-icon src="assets/icons/arrow-counterclockwise.svg"></svg-icon>
              </ng-template>
            </td>
            <td>
              <svg-icon src="assets/icons/progress/cloud-rain-fill.svg"></svg-icon>
              <svg-icon src="assets/icons/progress/droplet-fill.svg"></svg-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="run-card-controls">
    <button class="btn btn--green">Details</button>
    <button class="btn btn--grey">Add to trophy</button>
  </div>
</div>
