.signup {
  display: flex;
  justify-content: center;
  background-color: white;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 400px;

  &-head {

    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }

    &-or-ruler {
      display: flex;
      justify-content: center;
      align-items: center;

      &-line {
        border: 1px solid #9ca3af;
        flex-grow: 2;
        margin: 0px 5px;
      }

      p {
        color: #9ca3af;
      }
    }

  }
}

.signup-green {
  color: #71d600;
}

.google-button-container {
  display: flex;
  justify-content: center;
}

.btn--google {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  width: 400px;
  align-items: center;
  padding: 5px;
  span {
    font-weight: 600;
    margin-left: 10px;
    color: #9ca3af;
  }
  &:hover {
    opacity: 0.8;
    filter: brightness(0.95);
  }
}

.form-text {
  display: flex;
  font-size: 12px;
  color: #9ca3af;
  justify-content: center;
  margin-bottom: 5px;
}

.accept-term {
  display: flex;
  align-items: center;
  color: #9ca3af;
  margin-bottom: 10px;
  a {
    color: #71d600;
  }
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-link {
  margin-top: 20px;
  a {
    color: #71d600;
  }
}

.full {
  width: 100%;
}

.error {
  margin-top: -5px;
  font-size: 10px;
}

