<div class="run-upload-container">
  <div class="run-upload-card">
    <img src="assets/img/run-upload.png" class="picture" alt="umpload_picture">

    <div class="description">
      <div class="description-header">Upload your run</div>
      <div class="description-subheader">The file format mus be .tcx</div>
      <div class="description-buttons">

        <input style="display: none" type="file" (change)="onChange($event)" #hiddenfileinput>

        <button class="btn btn--green center-text" *ngIf="status === 'initial'" (click)="hiddenfileinput.click()">
          Choose file ...
        </button>
        <button class="btn btn--green center-text" *ngIf="status === 'selected'" (click)="onClickUploadFile()">
          Upload file
        </button>
        <button class="btn btn--grey center-text" type="reset">
          Cancel
        </button>
      </div>
      <div class="description-buttons">
        <section [ngSwitch]="status">
          <p *ngSwitchCase="'initial'">⏳ INIT...</p>
          <p *ngSwitchCase="'selected'">⏳ SELECTED...</p>
          <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
          <p *ngSwitchCase="'success'">✅ Done!</p>
          <p *ngSwitchCase="'fail'">❌ Error!</p>
          <p *ngSwitchDefault>😶 Waiting to upload...</p>
        </section>
      </div>
    </div>
  </div>
</div>
