<div class="course-progress">
  <img class="course-progress-image" src="assets/img/run-tags/{{run.image}}_run.png" alt="run_tag">
  <div class="course-progress-details">
    <div>Progress</div>
    <div class="course-progress-details-icons">
      <svg-icon src="assets/icons/progress/droplet-fill.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet-fill.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet-half.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/droplet.svg"></svg-icon>
    </div>

    <div>Shit weather</div>
    <div class="course-progress-details-icons">
      <svg-icon src="assets/icons/progress/cloud-rain-fill.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain-fill.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain-fill.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/cloud-rain.svg"></svg-icon>
    </div>

    <div>Heat</div>
    <div class="course-progress-details-icons">
      <svg-icon src="assets/icons/progress/thermometer-high.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-high.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-high.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-low.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-low.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-low.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-low.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-low.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-low.svg"></svg-icon>
      <svg-icon src="assets/icons/progress/thermometer-low.svg"></svg-icon>
    </div>
  </div>
</div>
