
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MainRunningGUI-primary: mat.define-palette(mat.$indigo-palette);
$MainRunningGUI-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MainRunningGUI-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MainRunningGUI-theme: mat.define-light-theme((
  color: (
    primary: $MainRunningGUI-primary,
    accent: $MainRunningGUI-accent,
    warn: $MainRunningGUI-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MainRunningGUI-theme);

* {
  font-family: 'Inter', sans-serif;
  //background: #F3F4F6;
}

.main {
  background-color: #F3F4F6;
  border: 1px solid red;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 8px 12px;
  //margin-right: 5px;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  &--grey {
    background: #dedede;
    color: #444;
    font-weight: 600;
  }
  &--green {
    background: #71d600;
    color: #fff;
    font-weight: 600;
  }
  &--menu {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    background: #71d600;
    color: #fff;
    font-weight: 600;
    border: 0;
    border-radius: 4px;
    margin-right: 5px;
    &:hover {
      opacity: 0.8;
      filter: brightness(0.8);
    }
  }
  &:hover {
    opacity: 0.8;
    filter: brightness(0.8);
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: no-drop;
  }
}
