<div class="navbar">
  <div class="logo">
    <img class="logo-image" src="assets/img/logo_runner_new.png" />
    <span class="logo-text">MainRunning</span>
  </div>
  <div class="menu">
    <div>
      <button mat-button [matMenuTriggerFor]="runs_menu" class="btn--menu">Runs</button>
      <mat-menu #runs_menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="trophy_menu" class="btn--menu">Trophys</button>
      <mat-menu #trophy_menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div class="profile-menu">
      <img src="https://avatars.githubusercontent.com/u/26135050" class="profile-menu-avatar" alt="profile_picture" [matMenuTriggerFor]="profile_menu">
      <mat-menu #profile_menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>
</div>
